body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
}

.form-card {
  width: 100%;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.social-logo {
  width: 85px;
  height: 85px;
  object-fit: cover;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  display: block;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.form-input:focus {
  border: 1px solid #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.rating {
  text-align: center;
}

.star {
  font-size: 35px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease;
}

.star.filled {
  color: #ffcc00;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submitted-feedback {
  margin-top: 30px;
}

.feedback-title {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.feedback-item {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.feedback-item p {
  margin: 0;
}

.feedback-item hr {
  margin: 10px 0;
  border: 0.5px solid #ddd;
}

.no-feedback {
  text-align: center;
  color: #888;
}
